<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Foreground service permission (for Android O and above) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Allow UDP/TCP network access for NTP queries from the Flutter layer -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Declare SYSTEM_ALERT_WINDOW to make overlay-related settings more discoverable
         on some OEM devices / settings screens. This is a special permission and
         still requires the user to grant it in system settings. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:label="悬浮时间"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Service that creates a floating overlay clock. Permission to draw over other apps
             must be granted by the user in system settings. -->
        <service
            android:name=".FloatingClockService"
            android:exported="false"
            android:foregroundServiceType="shortService" />
    </application>
    <!-- Required to query other apps that can handle certain intents.
         On Android 11+ (API 30+) package visibility restrictions limit the
         results returned by PackageManager.queryIntentActivities(). The
         `url_launcher` plugin queries for activities that can handle VIEW
         intents for http/https URIs; declare them here so we can detect
         available browsers and successfully open external links.

         Also keep the PROCESS_TEXT query used by Flutter's process text plugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
